button {
  cursor: pointer;
  background-color: $default-color;
  border: 2px solid $default-color;
  border-radius: 100vh;
  padding: 4px 14px;
  font-size: 18px;
  box-sizing: border-box;
  &.size--mini{
    padding: 2px 6px;
    font-size: 14px;
  }
  &.primary {
    color: $light-color;
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
      background-color: lighten($color: $primary-color, $amount: 5%);
      border-color: lighten($color: $primary-color, $amount: 5%);
    }
    &:active{
      background-color: darken($color: $primary-color, $amount: 5%);
      border-color: darken($color: $primary-color, $amount: 5%);
    }
  }
  &.danger {
    color: $light-color;
    background-color: $danger-color;
    border-color: $danger-color;
    &:hover {
      background-color: lighten($color: $danger-color, $amount: 5%);
      border-color: lighten($color: $danger-color, $amount: 5%);
    }
    &:active{
      background-color: darken($color: $danger-color, $amount: 5%);
      border-color: darken($color: $danger-color, $amount: 5%);
    }
  }
  &.primary--o {
    color: $primary-color;
    background-color: #ffffff00;
    border-color: $primary-color;
    &:hover {
      color: lighten($color: $primary-color, $amount: 5%);
      border-color: lighten($color: $primary-color, $amount: 5%);
    }
    &:active{
      color: darken($color: $primary-color, $amount: 5%);
      border-color: darken($color: $primary-color, $amount: 5%);
    }
  }
  &.white--o {
    color: #fff;
    background-color: #ffffff00;
    border-color: #fff;
    &:hover {
      color: darken($color: #fff, $amount: 5%);
      border-color: darken($color: #fff, $amount: 5%);
    }
    &:active{
      color: darken($color: #fff, $amount: 15%);
      border-color: darken($color: #fff, $amount: 15%);
    }
  }
  &:focus {
    outline: none;
  }
}

.upload-btn-wrapper {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  cursor: pointer;
  font-size: 100px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.facebook_color{
  color: #fff;
  background-color: #4267b2;
  border-color: #4267b2;
}

.btn__upload{
  cursor: pointer;
  min-width: 200px;
  height: 200px;
  border: 5px dashed #ccc;
  border-radius: 5px;
  font-size: 1.5em;
  text-align: center;
  line-height: 195px;
  &.primary--o {
    color: $primary-color;
    background-color: #ffffff00;
    border-color: $primary-color;
    &:hover {
      color: lighten($color: $primary-color, $amount: 5%);
      border-color: lighten($color: $primary-color, $amount: 5%);
    }
    &:active{
      color: darken($color: $primary-color, $amount: 5%);
      border-color: darken($color: $primary-color, $amount: 5%);
    }
  }
}