.card__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.card {
  width: $card-width;
  background-color: #fff;
  margin: $card-margin;
  border: 0px solid #ccc;
  // border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  &:hover{
    box-shadow: 0px 0px 5px #ccc;
  }
}
.card__image{
  width: 100%;
  height: $card-heigh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card__info{
  width: 100%;
  color: #333;
  padding: 5px $card-padding;
  box-sizing: border-box;
  *{
    width: 100%;
    margin: 4px 0px;
  }
  .address {
    font-size: 0.9em;
  }
}
.card__action{
  color: #888;
  .edit{
    color: $primary-color;
  }
  .delete{
    cursor: pointer;
    color: $error-color;
  }
}
.card__user__info{
  width: 100%;
  color: #333;
  padding: 5px $card-padding;
  box-sizing: border-box;
  .avatar{
    flex: 0 0 36px;
    width: 36px;
    height: 36px;
    background-color: #ccc;
    border-radius: 100vh;
    overflow: hidden;
  }
  p{
    margin: 0px;
    padding-left: 5px;
  }

}