$default-message-color: #cfcfcf;
$chat-form-height: 36px;
$avatar-size: 48px;
// chat
.chat__container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
  overflow: auto;
  & > div{
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
  }
}
//chat room
$chat-room-action-height: 30px;
.chat__room__width__transition{
  transition: width 0.5s;
}
.chat__room {
  flex: 0 0;
  position: relative;
  width: 384px;
  overflow: hidden;
  transition: flex-basis 0.5s;
  &.collapse{
    flex: 0 0 68px;
  }
  &.expand {
    flex: 0 0 384px;
  }
}
.chat__room__action{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: $chat-room-action-height;
  background-color: #efefef;
}
.chat__room__action__button{
  cursor: pointer;
  width: $chat-room-action-height;
  text-align: center;
  line-height: $chat-room-action-height;
}
#chatInventoryTab{
  background-color: #fff;
}
#chatRoom{
  position: relative;
  height: 100%;
  padding-top: $chat-room-action-height;
  background-color: #eee;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  // transition: background-color 0.5s, color 0.5s;
}
// chat inventory
.chat__inventory{
  width: 0px;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
  transition: flex-basis 0.5s;
  &.collapse{
    flex: 0 0 0px;
  }
  &.expand {
    flex: 0 0 316px;
  }
}
.chat__inventory__container{
  display: flex;
  flex-direction: column;
  height: 100%;
}
// chat box
.chat__box{
  position: relative;
  flex-grow: 1;
  padding-bottom: $chat-form-height;
  border-left: 1px solid #ccc; 
  border-right: 1px solid #ccc; 
  box-sizing: border-box;
}
.chat__content{
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px 10px 0px 48px;
  box-sizing: border-box;
  overflow: auto;
}
.chat__message__notif {
  width: 100%;
  text-align: center;
}
.chat__message__container{
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
}
.chat__message{
  max-width: 100%;
  margin-bottom: 5px;
  padding: 5px 10px;
  word-wrap: break-word;
  background-color: $default-message-color;
  border-radius: 1em;
  box-sizing: border-box;
  &.owner{
    background-color: $primary-color;
    color: #fff;
  }
  p{
    max-width: 500px;
    margin: 0px;
    white-space: pre-line;
  }
}
.chat__message__owner {
  max-width: 100%;
  margin: 2px 0px;
  color: #888;
  &.owner{
    text-align: right;
  }
}
.chat__message__avatar{
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 100vh;
  overflow: hidden;
  top: 0px;
  left: -38px;
}
.chat__form{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: $chat-form-height;
  input{
    padding-right: 56px;
    border-color: #0c8ae8;
  }
  #btnSearch{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
}


// chat info
.chat__info{
  width: 384px;
  background-color: #fff;
}
.chat__inventory__action{
  padding: 6px 10px;
  button {
    margin: 0px 4px;
  }
}