.flex {
  display: flex;
}
.flex_vertical{
  flex-direction: column;
}
.flex_no_wrap {
  flex-wrap: nowrap;
}
.flex_grow__0{
  flex-grow: 0;
}
.flex_grow__1{
  flex-grow: 1;
}
.flex_justify__center{
  justify-content: center;
}
.flex_justify__start{
  justify-content: flex-start;
}
.flex_justify__end{
  justify-content: flex-end;
}
.flex_align_items__start{
  align-items: flex-start;
}