@import 'button';

.field__container {
  padding: 8px 24px;
  box-sizing: border-box;
  label {
    font-size: 14px;
    font-weight: bold;
  }
  textarea {
    min-height: 108px;
    width: 100%;
    padding: 12px 24px;
    border: 1px solid #000;
    border-radius: 18px;
    font-size: 18px;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
    &:focus {
      outline: none;
      border-color: $primary-color;
    }
    &.unvalidate{
      border-color: $error-color;
    }
    &.autosize{
      padding:10px;
      overflow: hidden;
    }
  }
}
.error{
  font-size: 0.8em;
  color: $error-color;
  font-weight: bold;
}
.success{
  font-size: 0.8em;
  color: $sucsess-color;
  font-weight: bold;
}

input[type="text"].mystyle,
input[type="password"].mystyle {
  height: 36px;
  width: 100%;
  padding: 0px 24px;
  border: 1px solid #000;
  border-radius: 18px;
  font-size: 18px;
  box-sizing: border-box;
  &:focus {
    outline: none;
    border-color: $primary-color;
  }
  &.unvalidate{
    border-color: $error-color;
  }
  &.reset {
    border-radius: 0px;
    border: none;
    // border-top: 1px solid #888;
  }
  &.text-align--center{
    text-align: center;
  }
  &.border--bottom {
    border-bottom: 1px solid #888;
    &:focus {
      outline: none;
      border-color: $primary-color;
    }
  }
}
input[type="number"].mystyle {
  height: 36px;
  width: 5em;
  padding: 0px;
  border: 1px solid #000;
  border-radius: 18px;
  font-size: 18px;
  box-sizing: border-box;
  &:focus {
    outline: none;
    border-color: $primary-color;
  }
  &.unvalidate{
    border-color: $error-color;
  }
  &.reset {
    border-radius: 0px;
    border: none;
    // border-top: 1px solid #888;
  }
  &.text-align--center{
    text-align: center;
  }
  &.text-align--right{
    text-align: right;
  }
  &.border--bottom {
    border-bottom: 1px solid #888;
    &:focus {
      outline: none;
      border-color: $primary-color;
    }
  }
}

select.mystyle{
  color: #000;
  height: 36px;
  width: 100%;
  padding: 0px 20px;
  border: 1px solid #000;
  border-radius: 18px;
  font-size: 18px;
  box-sizing: border-box;
  &:focus {
    outline: none;
    border-color: $primary-color;
  }
  &>option,&>optgroup{
    font-size: 16px;
    color: #000;
  }
}
