body {
  min-width: 800px;
  position: relative;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
}
hr{
  border: none;
  border-top: 1px solid #000;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.hidden{
  display: none;
}
.ellipsis{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.tab{
  cursor: pointer;
}

// size

.square-36px{
  flex: 0 0 36px;
  width: 36px;
  height: 36px;
}

.square-28px{
  flex: 0 0 28px;
  width: 28px;
  height: 28px;
}

.round{
  border-radius: 100vh;
  overflow: hidden;
}

.space-4px{
  flex: 0 0 4px;
  width: 4px;
}
// overflow
.overflow--hidden{
  overflow: hidden;
}

// custom link
a {
  text-decoration: none;
  &.primary {
    color: $primary-color;
    &:visited {
      color: $primary-color;
    }
  }
  &.reset {
    color: inherit;
    &:visited {
      color: inherit;
    }
  }
}

// drop down
.dropdown{
  cursor: pointer;
  padding: 0px 10px;
  color: #333;
  border-top: 1px solid #ccc;
  &:hover{
    background-color: #cfcfcf;
  }
}

// slide show

.slide_show__image__container {
  overflow-x: hidden;
  overflow-y: auto;
  .slide_show__image_list{
    flex: 0 0 95px;
    width: 95px;
    height: 90px * 4;
    overflow-x: hidden;
    overflow-y: auto;
    .slide_show__image_list__image{
      cursor: pointer;
      position: relative;
      width: 80px;
      height: 80px;
      margin: 4px;
      border: 1px solid #ccc;
      border-radius: 5px;
      overflow: hidden;
      &.selected{
        border-color: $primary-color;
      }
      img {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0%,-50%);
        width: 100%;
        height: auto;
      }
    }
  }
  .slide_show__image{
    position: relative;
    max-height: 400px;
    overflow: hidden;
    img {
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }
}

// hr
hr.gray {
  border-top-color: #ccc;
}
hr.no--margin {
  margin: 0px;
}