body {
  position: relative;
  margin: 0;
  padding: 0;
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
hr{
  border: none;
  border-top: 1px solid #000;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.hidden{
  display: none;
}
.ellipsis{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.tab{
  cursor: pointer;
}

// custom link
a {
  text-decoration: none;
  &.primary {
    color: $primary-color;
    &:visited {
      color: $primary-color;
    }
  }
  &.reset {
    color: inherit;
    &:visited {
      color: inherit;
    }
  }
}

// drop down
.dropdown{
  cursor: pointer;
  padding: 0px 10px;
  color: #333;
  border-top: 1px solid #ccc;
  &:hover{
    background-color: #cfcfcf;
  }
}