.modal__container{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 100;
}
.modal__close{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba($color: #000000, $alpha: 0.5);
}
.modal{
  position: absolute;
  min-width: 300px;
  max-height: 100%;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
}
.modal__title{
  padding: 0px 10px;
}
.modal__content{
  padding: 0px 10px;
  max-height: 70vh;
  overflow: auto;
}
.modal__action{
  padding: 5px 10px;
  button{
    margin: 0px 2px;
  }
}