// bower:scss
// endbower

$light-color: #fff;
$primary-color: #0c8ae8;
$default-color: #888;
$error-color: #ff3333;
$sucsess-color: #28a745;
$boder-color: #ccc;
$card-width: 240px;
$card-heigh: 240px;
$card-margin: 8px;
$card-padding: 10px;

// font
@import 'font';

// general
@import 'general';

@import 'flexstyle';
// scroll
@import 'scroll';
// background
@import 'background';

// custom position
@import 'position';

// custom form
@import 'form';
// menu bar
@import 'menubar';

//card
@import 'card';

//post
@import 'post';

//list
@import 'listitem';

//user profile, list_card_avatar, 
@import 'userprofile';

//chat
@import 'chat';

//index
.index__action{
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  border-bottom: 1px solid $default-color;
  div {
    padding: 0px 20px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    box-sizing: border-box;
    transition: border 0.2s;
  }
  div.selected{
    color: $primary-color;
    border-bottom: 3px solid $primary-color;
  }
}

// login
.login__container {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}
.login__form {
  max-width: 400px;
  min-width: 300px;
  background-color: #ffffff00;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 8px 0;
  h1 {
    font-size: 2em;
    margin: 12px 0px;
    text-align: center;
  }
}
.login__background {
  background-color: #e0e0e0;
  background-image: url("../images/LogoMax.png");
}
.login__form__background {
  background-color: #ffffffe0;
}

//inventory
.div--center{
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.inventory{
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
//trade_offer
.trade_offer__container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1024px;
  min-height: 60vh;
  margin-left: auto;
  margin-right: auto;
}
.trade_offer__inventory__container,
.trade_offer__content__container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  min-width: 340px;
  min-height: 400px;
  padding: 5px;
  box-sizing: border-box;
}
.trade_offer__content__notif{
  color: $sucsess-color;
}
.trade_offer__inventory__action{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  div {
    cursor: pointer;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 50%;
    box-sizing: border-box;
    transition: border 0.2s;
  }
  div.selected{
    color: $primary-color;
    border-bottom: 3px solid $primary-color;
  }
}
.trade_offer__inventory{
  position: relative;
  flex-grow: 1;
  &>div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 5px;
    background-color: #fff;
    // border: 1px solid #ccc;
    border-top-color: $primary-color;
    // border-radius: 0px 0px 5px 5px;
    overflow: auto;
    box-sizing: border-box;
  }
  h4 {
    margin: 5px 0px;
  }
}
.trade_offer__content{
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  &>div{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    h4 {
      margin: 5px 0px;
    }
    .trade_offer__content__list{
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      overflow: auto;
    }
  }
  &.bottomPadding{
    padding-bottom: 5px;
  }
  &.topPadding{
    padding-top: 5px;
  }
}

.trasaction_confirm__info{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}
.transaction_confirm__userinfo{
  position: relative;
  width: 100%;
  box-sizing: border-box;
  &>div{
    display: inline-block;
    width: 50%;
    padding: 0px 10px;
    box-sizing: border-box;
  }
  .split{
    position: absolute;
    width: 0px;
    height: 100%;
    padding: 0px;
    border-left: 1px solid #888;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
//form_item
.item__form__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
  background-color: #fff;  
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  &>div{
    min-width: 300px;
    width: 50%;
    padding: 0px 10px;
    box-sizing: border-box;
  }
}
.item__form{
  border-right: 1px solid #888;
}
.item__form__image{
  overflow: hidden;
  .image__form__uploaded{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .image {
    width: 200px;
    height: 200px;
    margin: 5px;
    .image__action{
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      .image__action__button{
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        font-size: 1.5em;
        color: #000;
        background: rgba($color: #fff, $alpha: 0.8);
        border-radius: 100vh;
        &:hover{
          background: rgba($color: #fff, $alpha: 1);
        }
      }
    }
    &:hover .image__action{
      display: block;
    }
  }
}
#itemDescription, #postContent{
  white-space: pre-wrap;
}

//item

.item__container{
  .item__image{
    width: 50%;
    margin: 10px 0px;
    padding: 10px 5px;
    background-color: #fff;
    box-sizing: border-box;
  }
  .item__info{
    width: 50%;
    min-height: 364px;
    padding: 8px 2px;
    box-sizing: border-box;
    &>div{
      margin: 2px;
      padding: 10px 5px;
      background-color: #fff;
      box-sizing: border-box;
    }
    .item__category{
      padding: 5px 0px;
    }
    .item__name{
      font-size: 2.5em;
      font-weight: 100;
    }
    .item__user__info{
      width: 100%;
      .item__user__avatar{
        flex: 0 0 48px;
        height: 48px;
        width: 48px;
        border-radius: 100vh;
        overflow: hidden;
        background-color: #ccc;
      }
      p{
        padding: 0px 10px;
      }
    }
    p {
      margin: 0px;
      word-wrap: break-word;
    }
    #user, #date{
      font-size: 0.9em;
    }
    #user{
      font-weight: 600;
    }
  }
}

// donation post
.donation_post__container{
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  .cover {
    width: 100%;
    height: 300px;
  }
  .user__info{
    width: 100%;
    padding: 10px 5px;
    .user__avatar{
      flex: 0 0 48px;
      height: 48px;
      width: 48px;
      border-radius: 100vh;
      overflow: hidden;
      background-color: #ccc;
    }
    p{
      margin: 0px;
      padding: 0px 10px;
    }
  }
  .donation_post__body{
    padding: 10px;
    .donation_post__title{
      text-align: center;
    }
    .donation_post__content{
      width: 50%;
      min-width: 300px;
    }
    .donation_post__donator__list{
      width: 50%;
      min-width: 300px;
    }
  }
  .image {
    width: 100%;
    height: 300px;
    margin: 10px;
  }
}

// profile
$profile-height: 150px;
$profile-container-padding: 8px;
.profile__container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  height: $profile-height;
  background-color: #fff;
  padding: $profile-container-padding;
  border: 1px solid $boder-color;
  border-top-left-radius: $profile-height;
  border-bottom-left-radius: $profile-height;
  overflow: hidden;
  box-sizing: border-box;
  .avatar {
    position: relative;
    width: $profile-height - 2 * $profile-container-padding;
    height: $profile-height - 2 * $profile-container-padding;
    background-color: #ccc;
    border-radius: $profile-height;
    overflow: hidden;
  }
  .profile__info{
    max-width: 710px;
    flex-grow: 1;
  }
  p{
    width: 100%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    margin: 0px;
    padding: 2px 10px;
    color: #333;
    box-sizing: border-box;
  }
  .profile__name{
    font-size: 1.5em;
  }
}

.profile__form__container{
  max-width: 680px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid $boder-color;
  border-radius: 5px;
  box-sizing: border-box;
  .avatar {
    position: relative;
    max-width: 100%;
    max-height: 200px;
    background-color: #ccc;
    overflow: hidden;
  }
}

// search
.filter {
  min-width: 160px;
  max-width: 280px;
  padding-right: 10px;
  box-sizing: border-box;
  select {
    height: 24px;
    font-size: 0.9em;
  }
}

// transaction history

.transaction__container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  &>div{
    display: inline-block;
    width: 50%;
    padding: 0px 15px;
    box-sizing: border-box;
    p {
      width: 100%;
    }
  }
  &>i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  &:hover{
    background-color: #cfcfcf;
  }
}

// default
.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
